.editorconfig           export-ignore
.gitattributes          export-ignore
/docs/                  export-ignore
/scripts/               export-ignore
/tests/                 export-ignore
/.*                     export-ignore