sudo: false
dist: trusty
language: php

matrix:
  include:
    - php: 5.3
      dist: precise
    - php: 5.4
    - php: 5.5
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: 7.2
    - php: nightly
  allow_failures:
    - php: nightly
  fast_finish: true

branches:
  only:
    - devel
    - master

before_script:
  - composer install

script:
  - vendor/bin/phpunit --version
  - vendor/bin/phpunit -v -c tests/phpunit.xml --coverage-text --strict-coverage --stop-on-risky

notifications:
  email:
    recipients:
      - serbanghita@gmail.com
    on_success: never
    on_failure: always
  slack:
    rooms:
      - mobiledetect:in9qB4EvOrdR5v1E8V0nNqsJ#general
  irc:
    channels:
      - "asimov.freenode.net#mobiledetect"
    template:
      - "%{repository} (%{commit}): %{message}. Build details: %{build_url}"
      - "%{author} said %{commit_subject}. See %{compare_url}"
