language: php
php:
  - "5.3"
  - "5.4"
  - "5.5"
  - "5.6"
  - "7.0"

branches:
  only:
    - devel
    - master

before_script:
  - wget -O phpunit.phar https://phar.phpunit.de/phpunit-4.8.phar

script:
  - php phpunit.phar --version
  - php phpunit.phar -v -c tests/phpunit.xml

notifications:
  email: false
  irc:
    channels:
      - "asimov.freenode.net#mobiledetect"
    template:
      - "%{repository} (%{commit}): %{message}. Build details: %{build_url}"
      - "%{author} said %{commit_subject}. See %{compare_url}"
