<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  colors="true"
  verbose="false"
  bootstrap="tests/bootstrap.php"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  strict="true">

  <testsuite name="All Mobile Detect tests">
      <directory suffix="Test.php">./tests/MobileDetectTest</directory>
  </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./lib</directory>
        </whitelist>
        <exclude>
            <directory>./vendor</directory>
        </exclude>
    </filter>

  <logging>
    <log type="coverage-clover" target="./tests/clover.xml"/>
    <log type="coverage-html" target="./tests/coverage"/>
  </logging>

  <php>
      <env name="fixture_path" value="/fixtures" />
      <env name="ua_list_fixture" value="/ualist.json" />
  </php>
</phpunit>
