<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  colors="false"
  verbose="false"
  bootstrap="tests/bootstrap.php"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  checkForUnintentionallyCoveredCode="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  stopOnError="true"
  stopOnFailure="true">

    <testsuite name="All">
        <directory suffix="Test.php">./tests</directory>
    </testsuite>

    <testsuite name="UnitTests">
      <directory suffix="Test.php">./tests/UnitTests</directory>
    </testsuite>

    <testsuite name="FunctionalTests">
        <directory suffix="Test.php">./tests/FunctionalTests</directory>
    </testsuite>

    <testsuite name="IntegrationTests">
        <directory suffix="Test.php">./tests/IntegrationTests</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./lib</directory>
            <exclude>
                <directory suffix=".php">./tests</directory>
                <directory suffix=".php">./vendor</directory>
                <directory suffix=".php">./examples</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
      <env name="fixture_path" value="/IntegrationTests/fixtures" />
      <env name="fixture_path_perVendor" value="/IntegrationTests/fixtures/perVendor" />
    </php>
<!--
    <logging>
        <log type="coverage-html" target="coverage"/>
    </logging>
-->
</phpunit>
